@model IEnumerable<Domain.Master.MasterCategory.DescriptionGroupDto>;

@using Core;

@{
    ViewData["AppContentNone"] = "true";
    ViewBag.Title = "Power BI Dashboard";
    bool showTabs = Model.Count() > 1; // Show tabs only if there's more than one description
}

<div class="container">
    <h1 class="text-center">Products</h1>
    <hr />

    @if (showTabs)
    {
        <!-- Tab Navigation -->
        <ul class="nav nav-tabs" id="productTab" role="tablist">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var group = Model.ElementAt(i);
                var safeDescription = group.Description.Replace(" ", "-"); // Replace spaces with hyphens
                <li class="nav-item">
                    <a class="nav-link @(i == 0 ? "active" : "")"
                       id="tab-@safeDescription"
                       data-toggle="tab"
                       href="#description-@safeDescription"
                       role="tab"
                       aria-controls="description-@safeDescription"
                       aria-selected="@(i == 0 ? "true" : "false")">
                        @group.Description
                    </a>
                </li>
            }
        </ul>
    }

    <!-- Tab Content -->
    <div class="tab-content" id="productTabContent">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var group = Model.ElementAt(i);
            var safeDescription = group.Description.Replace(" ", "-"); // Replace spaces with hyphens
            <div class="tab-pane fade @(i == 0 ? "show active" : "")"
                 id="description-@safeDescription"
                 role="tabpanel"
                 aria-labelledby="tab-@safeDescription">
                <div class="logo-slider mt-4">
                    @foreach (var brand in group.Brand)
                    {
                        <div class="item" data-id="@brand.Code">
                            <div class="card mb-4">
                                <img class="card-img-top" src="~/assets/images/product/canycom.png" alt="@brand.Name">
                                <div class="card-body">
                                    <h5 class="card-title">@brand.Name</h5>
                                    <p class="card-text">@brand.Country</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Slider-for content that changes based on the selected brand -->
                <div class="slider-for mt-5">
                    @foreach (var brand in group.Brand)
                    {
                        <div class="panel panel-inverse">
                            <div class="panel-body">
                                <div class="row text-center">
                                    <!-- Example feature icons/menus based on the brand -->
                                    <div class="col-md-3">
                                        <i class="fa fa-calculator"></i>
                                        <h5>Productivity Calculator</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <i class="fa fa-list"></i>
                                        <h5>Product Specification</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <i class="fa fa-repeat"></i>
                                        <h5>Product Comparison</h5>
                                    </div>
                                    <div class="col-md-3">
                                        <i class="fa fa-book-open-reader"></i>
                                        <h5>Application Handbook</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Initialize the logo-slider for each tab content
            $('.logo-slider').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                arrows: true,
                centerMode: false,
                focusOnSelect: true,
                asNavFor: ".slider-for",
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            dots: false
                        }
                    }
                ]
            });

            // Initialize the slider-for for each tab content
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: ".logo-slider"
            });

            $('#productTab a').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href"); // activated tab
                $(target).find('.logo-slider, .slider-for').slick('setPosition');
            });
        });
    </script>
}
