@model Domain.MasterEmployee.MstEmployeeDto
@using Core;

@{
    Layout = ViewPath.ModalLayout;
}

<div>
    <form id="FormInput" asp-controller="@ViewData[ViewDataType.Controller]" asp-action="@ViewData[ViewDataType.Action]" asp-antiforgery="true">
        <input type="hidden" asp-for="Id" />
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">NRP</label>
            <div class="col-md-9">
                <input asp-for="NRP" class="form-control" required />
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Name</label>
            <div class="col-md-9">
                <input asp-for="Name" class="form-control" required />
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Company</label>
            <div class="col-md-9">
                <select asp-for="CompanyId" asp-items="@Model.Companies" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Branch</label>
            <div class="col-md-9">
                <select asp-for="BranchId" asp-items="@Model.Branches" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Division</label>
            <div class="col-md-9">
                <select asp-for="DivisionId" asp-items="@Model.Divisions" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Department</label>
            <div class="col-md-9">
                <select asp-for="DepartmentId" asp-items="@Model.Departments" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Job Group</label>
            <div class="col-md-9">
                <select asp-for="JobGroupId" asp-items="@Model.JobGroups" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Job Title</label>
            <div class="col-md-9">
                <select asp-for="JobTitleId" asp-items="@Model.JobTitles" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Employee Status</label>
            <div class="col-md-9">
                <select asp-for="Status" asp-items="@Model.Statuses" class="form-select">
                    <option value="">Please select one</option>
                </select>
            </div>
        </div>
        <div id="rowOutDate" class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Out Date</label>
            <div class="col-md-9">
                <div class="input-group">
                    <span id="iOutDate" class="input-group-text input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input asp-for="OutDate" class="form-control" />
                    <button id="iClearOutDate" type="button" class="btn btn-white">Clear</button>
                </div>
            </div>
        </div>
        <div id="rowActive" class="row mb-15px">
            <label class="form-label col-form-label col-md-3">Active?</label>
            <div class="col-md-9">
                <div class="form-check mt-2 mb-2">
                    <input asp-for="IsActive" type="checkbox" class="form-check-input" />
                </div>
            </div>
        </div>
    </form>
</div>
