@model Domain.Comparison.ComparisonDto;

@section Scripts {
    <script src="~/assets/js/pages/app.pages.trans.comparison.js" asp-append-version="true"></script>
}

<style>
    /* Tabel responsive untuk desktop */
    .table-responsive {
        position: relative;
        overflow-x: auto;
    }

    .table thead th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #343a40; /* Same color as the table-dark class */
        color: white;
    }

    #dTbComparison {
        white-space: nowrap;
        width: 100%;
    }

        #dTbComparison tbody td {
            min-width: 200px;
            white-space: normal;
        }

    .table tbody tr td {
        border: 1px solid #dee2e6;
    }

    .d-flex.justify-content-center.my-4 .btn {
        width: 200px; /* Adjust button width if necessary */
    }

</style>

<div class="border-bottom mb-2">
    <ul class="nav nav-pills mb-2" hidden>
        @foreach (var item in Model.Category)
        {
            <li class="nav-item">
                <a href="#tab-parent" data-bs-toggle="tab" class="nav-link active mr-3" data-table="@item.Code">
                    <span class="d-sm-none">@item.Description</span>
                    <span class="d-sm-block d-none">@item.Description</span>
                </a>
            </li>
        }
    </ul>
</div>

<div class="table-responsive">
    <table id="dTbComparison" class="table table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
                <th class="col-6">Product TN</th>
                <th class="col-6" colspan="100">Competitor Product</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filter Section -->
            <tr>
                <td colspan="100">
                    <div class="row">
                        <div class="col-12">
                            <label for="FilterClass" class="form-label">Class</label>
                            <select class="form-select select2" id="FilterClass" asp-items="@Model.SLClass"></select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- Product TN Section -->
                <td class="p-3">

                    <div class="non-MHD">
                        <div class="row g-2">
                            <div class="col-12">
                                <label for="FilterBrand1" class="form-label">Brand</label>
                                <select class="form-select select2 FilterBrand" data-brand="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                            @* <div class="col-12">
                            <label for="FilterDistributor1" class="form-label">Distributor</label>
                            <select class="form-select select2 FilterDistributor" data-distributor="1">
                            <option value="">Please select one</option>
                            </select>
                            </div> *@
                            <div class="col-12">
                                <label for="FilterModel1" class="form-label">Product Model</label>
                                <select class="form-select select2 FilterModel" data-model="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="MHD">
                        <div class="row g-2">
                            <div class="col-12">
                                <label for="FilterBrand1" class="form-label">Brand</label>
                                <select class="form-select select2 FilterBrand" data-brand="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                            @* <div class="col-12">
                            <label for="FilterDistributor1" class="form-label">Distributor</label>
                            <select class="form-select select2 FilterDistributor" data-distributor="1">
                            <option value="">Please select one</option>
                            </select>
                            </div> *@
                            <div class="col-12">
                                <label for="Cap" class="form-label">Cap</label>
                                <select class="form-select select2 Cap" data-cap="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="FilterModel1" class="form-label">Product Model</label>
                                <select class="form-select select2 FilterModel" data-model="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="MastType" class="form-label">Mast Type</label>
                                <select class="form-select select2 MastType" data-mastType="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="LiftingHeight" class="form-label">Lifting Height</label>
                                <select class="form-select select2 LiftingHeight" data-liftingHeight="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="Tire" class="form-label">Tire</label>
                                <select class="form-select select2 Tire" data-tire="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </td>
                <!-- Competitor Product Section -->
                <td class="p-3">
                    <div class="non-MHD">
                        <div class="row g-2">
                            <div class="col-12">
                                <label for="FilterBrand2" class="form-label">Brand</label>
                                <select class="form-select select2 FilterBrand" data-brand="2">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                            @* <div class="col-12">
                            <label for="FilterDistributor2" class="form-label">Distributor</label>
                            <select class="form-select select2 FilterDistributor" data-distributor="2">
                            <option value="">Please select one</option>
                            </select>
                            </div> *@
                            <div class="col-12">
                                <label for="FilterModel2" class="form-label">Product Model</label>
                                <select class="form-select select2 FilterModel" data-model="2">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="MHD">
                        <div class="row g-2">
                            <div class="col-12">
                                <label for="FilterBrand2" class="form-label">Brand</label>
                                <select class="form-select select2 FilterBrand" data-brand="2">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                            @* <div class="col-12">
                            <label for="FilterDistributor2" class="form-label">Distributor</label>
                            <select class="form-select select2 FilterDistributor" data-distributor="2">
                            <option value="">Please select one</option>
                            </select>
                            </div> *@
                            <div class="col-12">
                                <label for="Cap" class="form-label">Cap</label>
                                <select class="form-select select2 Cap" data-cap="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="FilterModel1" class="form-label">Product Model</label>
                                <select class="form-select select2 FilterModel" data-model="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="MastType" class="form-label">Mast Type</label>
                                <select class="form-select select2 MastType" data-mastType="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="LiftingHeight" class="form-label">Lifting Height</label>
                                <select class="form-select select2 LiftingHeight" data-liftingHeight="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <label for="Tire" class="form-label">Tire</label>
                                <select class="form-select select2 Tire" data-tire="1">
                                    <option value="">Please select one</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Tombol dengan lebar penuh pada mobile -->
<div class="d-flex justify-content-center my-4 flex-column flex-md-row" style="align-items:center;">
    <div class="mx-2 mb-2 mb-md-0">
        <a href="#" id="addMoreBtn" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
            <span class="ms-2">Add More</span>
        </a>
    </div>
    <div class="mx-2 mb-2 mb-md-0">
        <a href="#" id="removeBtn" class="btn btn-danger btn-lg d-flex align-items-center justify-content-center">
            <i class="fas fa-minus"></i>
            <span class="ms-2">Remove</span>
        </a>
    </div>
    <div class="mx-2">
        <a href="#" class="btn btn-success btn-lg d-flex align-items-center justify-content-center" id="compareNowBtn" onclick="compareModels()">
            <span>Compare Now</span>
        </a>
    </div>
</div>

<!-- Gambar jika tidak ada pencarian -->
<div class="col-md-12">
    <div class="row justify-content-center img-notfound">
        <div class="col-auto text-center">
            <img class="align-middle" src="@Url.Content("~/assets/images/png/undraw_Loading_re_5axr.png")" alt="Not Found Image" width="60%">
            <h5>Waiting for Searching!</h5>
        </div>
    </div>
</div>

<div class="table-responsive mt-2">
    <div id="dTable"></div>
</div>
